.app__news {
    position: relative;
    height: 540px;
    &-wrapper {
        padding-top: 120px;
        display: grid;
        grid-template-columns: 600px 600px;
        grid-template-rows: 55px 200px;
    }
    &-title {
        grid-column: 1;
        grid-row: 1;
    }
    &-carousel {
        grid-column: 1/3;
        grid-row: 2/3;

    }
    &-card {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-right: 10px;
        &__title {
            cursor: pointer;
            color: var(--text-dark-color);
            font-size: 20px;
            font-weight: 600; 
            &:hover {
                color: #1DC2FF;
            }
        }
        &__descr {
            font-size: var(--fz-small);
            font-style: normal;
            font-weight: 400;
            color: var(--text-dark-color);
        }
        &__date {
            font-size: var(--fz-small);
            color: var(--text-grey-color);
            font-weight: 400; 
        }

    }
}

.carousel-button-group {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
   

    &-left {
        margin-right: 20px;
        width: 40px;
        height: 40px; 
        border-radius: 50px;
        background-color:#fff;
        border: 2px solid #DDDFE4;
        &:hover {
            box-shadow: 3px 3px 10px var(--bg-dark-color);
            border: none;
            background-color: #1DC2FF;
        }
        }
    &-right {
        width: 40px;
        height: 40px; 
        border-radius: 50px;
        background-color:#fff;
        border: 2px solid #DDDFE4;
        &:hover {
            box-shadow: 3px 3px 10px var(--bg-dark-color);
            border: none;
            background-color: #1DC2FF;
            }
        }
}






