@import './variables.scss';
@import './mixins.scss';
@import './media.scss';


/*=============== FONTS ===============*/
@font-face {
  font-family: 'Craft Rounded Regular';
  src: url(../fonts/CraftRounded-Regular.woff) format('woff'),
       url(../fonts/CraftRounded-Regular.woff2) format('woff2');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Craft Rounded Bold';
  src: url(../fonts/CraftRounded-DemiBold.woff) format('woff'),
      url(../fonts/CraftRounded-DemiBold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}



/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Craft Rounded Regular';
}

html {
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Craft Rounded Bold';
}


ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}


button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

p {
    margin: 0;
    padding: 0;
}



/*=============== REUSABLE CSS CLASSES ===============*/


.main__bg {
  position: relative;
  background: url('../resources/img/bg/main_bg.png') no-repeat 50%/cover;
}

.dark__bg {
  background-color: var(--bg-dark-color);
}

.light__bg {
  background-color: var(--bg-light-color);
}


.section__title-dark {
  font-family: 'Craft Rounded Bold';
	color: var(--text-dark-color);
	font-size: var(--fz-medium);
	font-weight: var(--fw-big);
	line-height: 130%;
}

.section__title-light {
  font-family: 'Craft Rounded Bold';
	color: var(--text-light-color);
	font-size: var(--fz-medium);
	font-weight: var(--fw-big);
	line-height: 130%;
}

.section__descr-dark {
  color:var(--text-dark-color);
  font-size: var(--fz-small);
  font-weight: var(--fw-small);
  line-height: 130%;
}

.section__descr-light {
  color:var(--text-light-color);
  font-size: var(--fz-small);
  font-weight: var(--fw-small);
  line-height: 130%;
}



/*=============== LAYOUT ===============*/
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


/*=============== BUTTONS ===============*/
.btn {
  height: 52px;
  width: 169px;
  border-radius: 60px;
  border: 1px solid #BA0606;
  background-color: #BA0606; 
  color: var(--text-light-color);
  &:hover {
    box-shadow: 3px 3px 20px var(--bg-dark-color);
    border: none;
    svg {
      fill: #BA0606;
    }
  }
}



