/*=============== VARIABLES CSS ===============*/

:root {
  --bg-dark-color: #373A3A;
  --bg-light-color: #F2F6F8;
  --text-dark-color: #042835;
  --text-light-color: #FFF;
  --round-and-underline-color: #1DC2FF;

  --fz-big: 64px;
  --fz-medium: 42px;
  --fz-small: 17px;

  --fw-big: 600;
  --fw-small: 400;
}
  
  
  