@import '../../style/mixins.scss';


header {
    position: absolute; 
	height: 50px;
    z-index: 1;
}


.app__header {
    &-wrapper {
        display: grid;
        grid-template-columns: 840px 440px;
        grid-template-rows: 1fr;
    }
    &-logo {
        grid-column: 1;
        grid-row: 1;
    }

    &-menu {
        grid-column: 2;
        grid-row: 1;
        list-style-type: none;
        display: flex;
        align-items:center;
        li {
            display: inline;
            @include link-style;
        }
        &-item {
            margin-right: 20px;
            font-size: var(--fz-small);
            font-weight: var(--fw-small);
            color:var(--text-light-color);
        }

    }
}
